{
	'CLOCKS': {
		'__enter__': [
			'\tdef __enter__(self):\n'],
			'__exit__': [
				'\tdef __exit__(self*args_):\n'],
			'quickRead': [
				'\tdef quickRead(self):\n'],
				'updateFromDict': [
					'\tdef updateFromDict(selfdictToUpdateFrom_=self._DICTIN_, setLocalDict_=True):\n'
				],
				'readToDict': [
					'\tdef readToDict(selfdictToReadTo_=self._DICTOUT_, setLocalDict_=True):\n'
				],
				'checkMouse': [
					'\tdef checkMouse(self):\n'
				],
				'runaway': [
					'\tdef runaway(selfmoveMpx_=(0, 0)):\n'
				]
	}
}
